/* css reset from https://piccalil.li/blog/a-more-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}
/* Set core body defaults */
body {
	line-height: 1.5;
	margin: 0;
	min-height: 100vh;
}
/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}
/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	color: currentColor;
	text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture {
	display: block;
	max-width: 100%;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}
textarea {
	resize: none;
}
/* Scroll behaviours */
html {
	scroll-behavior: smooth;
}
@media (prefers-reduced-motion) {
	html {
		scroll-behavior: reduce;
	}
}
/* Custom properties */
:root {
	--clr-background: hsl(115, 45%, 32%);
	--clr-text-black: hsl(0, 0%, 0%);
	--clr-text-white: hsl(0, 0%, 100%);
	--fs-lg: 2.5rem;
	--fs-med: 1.5rem;
	--fs-small: 1rem;
	--fs-xl: 3.5rem;
	--fw-bold: 700;
	--fw-light: 200;
	--fw-med: 400;
	--space-lg: 3rem;
	--space-med: 2rem;
	--space-sm: 1rem;
}
/* Grid setup */
.content-grid {
	display: grid;

	grid-template-columns:
		1rem
		[full-width-start]
		1fr
		[breakout-start]
		1fr
		[content-start]
		1fr
		[content-end]
		1fr
		[breakout-end]
		1fr
		[full-width-end]
		1rem;
	grid-template-rows:
		[title-start]
		auto
		[title-end]
		auto
		[text-start]
		auto
		[text-end];
}
.content-grid > * {
	grid-column: content;
}
/* utility classes */
body {
	background-attachment: fixed;
	background-image: url('/background.svg');
	background-position: center;
	background-size: cover;
}
.nav-bar__btn {
	align-items: center;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 10px;
	color: var(--clr-text-white);
	display: flex;
	padding: 0.25rem 1rem;
	text-decoration: none;
	transition: ease-in-out 0.1s;
}
.nav-bar__btn:hover {
	scale: 1.15;
}
.nav-bar__btn:active {
	scale: 1.075;
}
.nav-bar__btn > a {
	text-decoration: none;
}
.card {
	margin: var(--space-med);
}
.card__title {
	color: var(--clr-text-white);
	font-size: var(--fs-lg);
	margin: var(--space-sm) 0;
}
.card__text {
	color: var(--clr-text-white);
	font-size: var(--fs-med);
	margin-bottom: var(--space-med);
}
.contact-btn {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid var(--clr-text-white);
	color: var(--clr-text-white);
	font-size: var(--fs-med);
	margin-top: var(--space-med);
	transition: ease-in-out 0.1s;
	width: fit-content;
}
.contact-btn:hover {
	scale: 1.15;
}
.contact-btn:active {
	scale: 1.075;
}
/* header classes */
.head-wrapper {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: var(--space-sm);
}
.nav-bar {
	display: flex;
	gap: var(--space-sm);
	justify-content: space-evenly;
}
.head__logo {
	color: var(--clr-text-white);
	margin-top: 0;
}
/* hero section classes */
.hero {
	margin: 0 5rem;
}
.hero__wrapper {
	border-bottom: 1px solid var(--clr-text-white);
	display: grid;
	min-height: 80vh;
}
.hero__title {
	align-self: center;
	color: var(--clr-text-white);
	grid-column: breakout;
	grid-row: title;
}
.hero--greeting {
	font-size: var(--fs-med);
	font-weight: var(--fw-med);
}
.hero--name {
	border-bottom: 2px solid var(--clr-text-white);
	font-size: var(--fs-xl);
	font-weight: var(--fw-bold);
}
.hero__text-wrapper {
	grid-column: breakout;
	grid-row: text;
	margin: var(--space-lg) 0;
}
.hero__text {
	align-self: self-start;
	color: var(--clr-text-white);
	font-size: var(--fs-med);
	font-weight: var(--fw-light);

	/* width: 70ch; */
	/* TODO: fix this width sizing so it shrinks etc */
	/* margin-bottom: var(--space-lg); */
}
.hero__highlight {
	font-weight: var(--fw-bold);
}
/* experience section classes */
.experience {
	border-bottom: 1px solid var(--clr-text-white);
	margin: 0 5rem;
}
.experience-card-wrapper {
	display: flex;
	flex-wrap: wrap;
	grid-area: breakout;
	justify-content: center;
	text-align: center;
}
/* projects section classes  */
.projects__title {
	color: var(--clr-text-white);
	font-size: var(--fs-xl);
	grid-column: breakout;
	grid-row: title;
	margin: var(--space-med);
}
.projects__wrapper {
	display: grid;
	grid-column: full-width;
	grid-row: text;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	justify-items: center;
}
/* project cards */
.card__links {
	display: flex;
	gap: var(--space-med);
	margin: var(--space-sm) 0;
}
/* footer classes */
.footer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
}
.contact-text {
	align-items: space-between;
	color: var(--clr-text-white);
	display: grid;
	justify-content: center;
	width: 45ch;
}
.contact-form {
	display: grid;
	gap: var(--space-sm);
	margin: var(--space-med);
	width: 80%;
}
.contact-form__input,
.contact-form__input--text-area,
.contact-form--submit-button {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid var(--clr-text-white);
	color: var(--clr-text-white);
}
.contact-form--submit-button {
	justify-self: start;
}
::placeholder {
	color: var(--clr-text-white);
	opacity: 0.7;
}
